# Ignore dependencies for both
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env
.env

# Ignore build folders
frontend/dist/
frontend/build/

# System files
.DS_Store